.speech{
    color:black;
    font-size: medium;
}

.song{
    color:black;
    font-size: medium;
}

.direction{

    background-color: rgb(158, 158, 188);
    font-size: 20px;
    font-family: 'Times New Roman', serif,Times;

} 
.direction:hover{
    background-color: red;color:brown;
}

.YUM{
    color:rgb(218, 23, 221);
 font-size: large;
 font-style:initial

}


.NAN{
    color:rgb(41, 184, 30);
 font-size: large;
 font-style:initial

}



.PEE{
    color:rgb(56, 163, 79);
 font-size: large;
 font-style:initial

}

.NAN{
    color:rgb(179, 40, 89);
 font-size: large;
 font-style:initial

}

.PIT{
    color:rgb(19, 85, 178);
 font-size: large;
 font-style:initial

}


table,td,th{
    border: solid 1px;
    color: rgb(247, 130, 20);
    text-align: center;
    padding: 1em;
    margin: 1px;
    
}
tr:nth-child(odd){
background-color: rgb(52, 20, 232);
}



