.speech{
    color:black;
    font-size: medium;
}

.song{
    color:black;
    font-size: medium;
}

.direction{

    background-color: rgb(158, 158, 188);
    font-size: 20px;
    font-family: 'Times New Roman', serif,Times;

} 
.direction:hover{
    background-color: red;color:brown;
}

.YUM{
    color:rgb(218, 23, 221);
 font-size: large;
 font-style:initial

}


.NAN{
    color:rgb(41, 184, 30);
 font-size: large;
 font-style:initial

}



.PEE{
    color:rgb(56, 163, 79);
 font-size: large;
 font-style:initial

}

.NAN{
    color:rgb(179, 40, 89);
 font-size: large;
 font-style:initial

}

.PIT{
    color:rgb(19, 85, 178);
 font-size: large;
 font-style:initial

}


table,td,th{
    border: solid 1px;
    color: rgb(247, 130, 20);
    text-align: center;
    padding: 1em;
    margin: 1px;
    
}
tr:nth-child(odd){
background-color: rgb(52, 20, 232);
}


.RRR:hover, .LOKAM:hover, .SSS:hover {
   
    text-shadow: 2px 2px 8px #ed0c0c;  
    border-style: 1px solid;
    
}


ul.navbar-horizontal{
    list-style-type: none;
    margin: 20px;  
  }
  ul.navbar-horizontal li{
      float: center;  
      background-color: rgb(23, 26, 203);
    }
    ul.navbar-horizontal a{
      text-align: center;
      color: #74cf06;
      display: block;
      padding:10px;
      margin:10px;
    }
    ul.navbar-horizontal a:hover{
      background-color: rgb(200, 100, 22);
      color: rgb(209, 21, 57);
    }
    li{
      float: left;
     
    }
    i{
      color: chocolate;
      font-size: 200px!important;
    }
