.speech{
    color:black;
    font-size: medium;
    font-style: initial;
    text-indent: 20cm;
}

.song{
    color:black;
    font-size: medium;
    font-style: initial;
    text-indent: 65px;
}

.direction{

    background-color: rgb(158, 158, 188);
    font-size: 20px;
    font-family: 'Times New Roman', serif,Times;

} 
.direction:hover {
    background-color: aqua;
    color: blueviolet;}



.CHORUS{
    color:black;
 font-size: medium;
 font-style:initial

}

.LUDWIG{
    color:black;
 font-size: large;
 font-style:initial

}
.BAR{
    color:black;
    font-size: large;
    font-style:initial

}
 

.LISA{
    color:black;
    font-size: large;
    font-style:initial
}

.JULIA{
    color:black;
 font-size: large;
 font-style:initial

}
